.card {
    background-color: black;
    border: 1px slateblue;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 6px rgb(0, 0, 0 , 0.1);
    font-family: arial, sans-serif;
    margin: 20px auto;
}